
<div  ng-controller="examCalendarController" ng-init="fetchExamCalendar_M()" ng-cloak flex>

	<div layout="row" class="toolbar" class="view-animate">


        <div>
            <button layout="column" flex class="left-toolbar" ng-click="backToDashBoard('dashBoard')">
                
                <img src="app/images/back.png">
                    
                    </button>
        </div>


		<div layout="column" flex align="center" class="top-label-toolbar">

			<label >{{studentTitleName}} </label>

			<div flex align="center" class="bottom-label-toolbar">

				<label class="bottom-label-toolbar">Exam calendar</label>

			</div>

		</div>

		<div layout="column" flex class="right-toolbar" ng-click="logout()">

			<!--<img src="app/images/menu.png">-->
			<img class="png-icon" src="app/images/logout.png">
		</div>


	</div>


    <md-card>
            <div class="rounded-corners">



                <label class="field-label" >Academic Year</label><label class="data-label" flex>: {{academicYearIDValue}} </label>


                <label class="field-label"  >Class</label><label class="data-label" flex>: {{gradeIDValue}} </label>



                <label class="field-label"  >Section</label><label class="data-label" flex>: {{sectionIDValue}} </label>


            </div>


        <div class="wrap">
            <div id="chatWindow" class="container-parent">
                
                
                <md-content>
                    <md-list>
                
                

                    <div ng-repeat="(key, value) in calendarWrapper | groupBy: 'termIDValue'">

                            <div class="subhead-label" ng-show="!calendarWrapper.length">

                                No info available
                            </div>
                            <div class="subhead-label">
                                {{ key }}
                            </div>

                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th align="center" class="table-header">S.No</th>
                                    <th align="center" class="table-header">Subject Name</th>
                                    <th align="center" class="table-header">Exam Date</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="calendarWrapper in value | orderBy: 'examDateMMM'">
                                    <td >{{$index + 1}}.</td>
                                    <td >{{calendarWrapper.subjectIDValue}}</td>
                                    <td >{{calendarWrapper.examDateMMM}}</td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    
                    </md-list>
                </md-content>
            </div>
        </div>


    </md-card>

</div>